<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <php>
        <server name="KERNEL_DIR" value="../../../../" />
    </php>

    <testsuites>
        <testsuite name="StarterCategoryBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude></exclude>
        </whitelist>
    </filter>
</phpunit>
